<div class="footer-container">
  <footer>
    <div class="meme">
      <h6>We don't know what show you're talking about</h6>
    </div>
    <div class="copyright">
      <h6>Copyright sQuiz 🦑 Game 2021</h6>
    </div>
    <div class="shoutout">
      <h6>Developed with ❤ Group 17</h6>
    </div>
  </footer>
</div>
