<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<nav>
  <div class="display-mode">
    <div class="logo-container">
      <a class="logo-home" href="/"
        ><h3 class="logo-text">sQuiz Game</h3>
        <i class="fab fa-octopus-deploy fa-2x logo-icon"></i>
      </a>
    </div>

    <div class="navbar-nav">
      <a href="/new-quiz">Create sQuiz</a>
      <a href="/my-quizzes">My sQuizzes</a>
      <a href="/my-results">Results</a>
    </div>

    <form method="GET" action="/search">
      <input
        type="text"
        placeholder="Search.."
        name="search"
        id="search"
        required
      />
      <button type="submit" class="search-button">
        <i class="fa fa-search search-button"> </i>
      </button>
    </form>
  </div>

  <div class="user-container">
    <% if (!session) { %>
    <a class="register btn-secondary" href="/register">Register</a>
    <a class="login btn-secondary" href="/login">Login</a>
    <% } else {%>
    <form method="POST" action="/logout" class="">
      <button class="btn-secondary" type="submit">Logout</button>
    </form>
    <%}%>
  </div>

  <span id="myLinks">
    <a href="/new-quiz">Create sQuiz</a>
    <a href="/my-quizzes">My sQuizzes</a>
    <a href="/my-results">Results</a>

    <% if (!session) { %>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% } else {%>
    <form class="logout" method="POST" name="logout" action="/logout">
      <a href="javascript: submitform()">Logout</a>
    </form>
    <%}%>
  </span>

  <a href="javascript:void(0);" class="icon" onclick="HamburgerMenu()">
    <i class="fa fa-bars"></i>
  </a>
</nav>
