<nav>
  <h3 class="logo-text">sQuiz Game</h3>
  <i class="fab fa-octopus-deploy fa-2x"></i>
  <a class="home" href="/">Quiz</a>

  <div class="navbar-nav">
    <a href="/api/users">API</a>
    <a href="/new-quiz">Create Quiz</a>
  </div>
</nav>
