<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<nav>
  <div class="logo-container">
    <a class="logo-home" href="/"
      ><h3 class="logo-text">sQuiz Game</h3>
      <i class="fab fa-octopus-deploy fa-2x logo-icon"></i
    ></a>
  </div>

  <div class="navbar-nav">
    <a class="home" href="/">Quiz</a>
    <a href="/new-quiz">Create sQuiz</a>
    <a href="/my-quizzes">My sQuizzes</a>
    <a href="/my-results">Results</a>
    <div class="search-nav">

    </div>
  </div>

  <div class="user-container">
    <form method="GET" action="/search">
      <input type="text" placeholder="Search.." name="search" id="search" required />
      <button type="submit" class="search-button">
        <i class="fa fa-search search-button"> </i>
      </button>
    </form>

    <% if (!session) { %>
    <a class="register btn-secondary" href="/register">Register</a>
    <a class="login btn-secondary" href="/login">Login</a>
    <% } else {%>
    <form method="POST" action="/logout" class="">
      <button class="btn-secondary" type="submit">Logout</button>
    </form>
    <%}%>
  </div>
</nav>
