<nav>
  <div class="logo-container">
    <h3 class="logo-text">sQuiz Game</h3>
    <i class="fab fa-octopus-deploy fa-2x logo-icon"></i>
  </div>
  <div class="navbar-nav">
    <a class="home" href="/">Quiz</a>
    <a href="/api/users">API</a>
    <a href="/new-quiz">Create Quiz</a>
  </div>
  <div class="user-container">
    <% if (!session) { %>
    <a class="register btn-secondary" href="/register">Register</a>
    <a class="login btn-secondary" href="/login">Login</a>
    <% } else {%>
    <form method="POST" action="/logout" class="d-inline">
      <button class="" type="submit">Logout</button>
    </form>
    <%}%>
  </div>
</nav>
