<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game</title>
  </head>

  <body>
    <%- include('partials/_header') %>

    <!-- utility div to provide spacing for fixed header -->
    <div class="spacer"></div>

    </div>
  </body>
</html>
