<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game - Results</title>

    <link rel="stylesheet" href="/styles/my-quizzes.css" type="text/css" />
    <link rel="stylesheet" href="/styles/quizzes.css" type="text/css" />

    <script type="text/javascript" src="/scripts/quizzes.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="spacer"></div>
    <div class="flex-container">
      <section class="results-container">
        <ul class="quiz-grid">


    <h class="slogan" >Quiz Results</h2>
    <p style="text-align: center;">You answered <%=score %> out of <%=total%> correctly!</p>


  </body>
</html>



