<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game Time</title>

    <link rel="stylesheet" href="/styles/quizzes.css" type="text/css" />
    <script type="text/javascript" src="/scripts/quizzes.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>
    <div class="spacer"></div>
    <main class="quizzes-container">

    </main>
    <%- include('partials/_footer') %>
  </body>
</html>

