<!DOCTYPE html>
<html lang="en">

  <%- include('partials/_head') %>
  <head>
    <title>sQuiz Game - Register</title>

    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_header') %>

    <div class="flex-container">
      <div class="register-form-container">
        <h3>Registration Form</h3>
        <% if (errorMsg) { %> <%- errorMsg %> <% } %>
        <form action="/register" method="POST" class="register-form">
          <div class="name">
            <label for="name">Name</label><br />
            <input type="text" class="form-control" name="name" label="Name" />
          </div>
          <div class="email">
            <label for="email">Email</label><br />
            <input
              type="email"
              class="form-control"
              name="email"
              label="Email"
            />
          </div>
          <div class="password">
            <label for="password">Password</label><br />
            <input
              type="password"
              class="form-control"
              name="password"
              label="Password"
            />
          </div>
          <button type="submit" class="btn-primary">Register!</button>
        </form>
      </div>
    </div>
  </body>
</html>
