.private-grid,
.public-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 850px) {
  .private-grid,
  .public-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 570px) {
  .prviate-grid,
  .public-grid {
    grid-template-columns: 1fr;
  }
}
.public-title,
.private-title,
.results-title {
  margin-left: 1.2rem;
  margin-bottom: -2rem;
  padding-top: 1rem;
}

.date {
  font-size: 0.9rem;
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: rgb(32, 29, 54);
  line-height: 1;
  margin-bottom: 1rem;
}

.my-squizzes-container {
  margin: 1.2rem;
  height: 100%;
  flex-basis: 100%;
  background-color: rgba(168, 123, 240, 0.397);
  border-radius: 10px;
}

.divider {
  height: 0.1rem;
  width: 95%;
  background-color: rgb(23, 32, 37);
  margin: 0 auto;
}

.options-container {
  display: flex;
  justify-content: center;
  line-height: 0;
}

.results-container {
  height: 100%;
  background-color: rgb(171, 211, 223);
  margin: 1.2rem;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 1.2rem;
}

.details {
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 2rem;
  background-color: rgb(0, 145, 189);
  padding: 0 5px;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  overflow: hidden;
}

strong {
  font-weight: bold;
}

.spacer {
  margin-left: 5px;
}

button.edit,
button.delete {
  padding: 1rem 2.5rem;
  color: rgb(43, 42, 87);
  border: 1px solid rgb(34, 147, 252);
  margin: 0.4rem;
}

button.delete {
  background-color: rgb(226, 96, 96);
}

button.edit {
  background-color: rgb(168, 123, 240);
}

button.delete:hover {
  background-color: rgb(190, 49, 49);
  cursor: pointer;
}
button.edit:hover {
  background-color: rgb(122, 54, 230);
  cursor: pointer;
}
