
#main-create {
  width: 90%;
  margin-top:  100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  float: right;

  form {
    width: 90%;
  }

  .quiz-detail {
    border: solid 1px #333;
    padding: 1rem;

    flex-grow: 2;
    max-width: 90rem;
    margin: .5rem;
    background-color: rgba(231, 231, 231, 0.644);
    border-radius: 5px;
  }
}

#question-container {
  width: 100%;

  article {
    border: solid 1px #333;
    padding: 1rem;

    flex-grow: 2;
    max-width: 90rem;
    margin: .5rem;
    background-color: rgba(231, 231, 231, 0.644);
    border-radius: 5px;

    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}
