.quiz {
  width: 70%;
  margin: auto;
  margin-top: 4em;
  // border: 7px solid  rgb(150, 188, 228);

  .category-quiz {
    // background-color: rgb(150, 188, 228);
    // text-align: center;
    // font-size: 30px;
    // padding: 0.5em;
    // margin: auto;

    background-color: rgba(54, 54, 162, 0.776);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 350;
    border: 1px solid rgba(54, 54, 162, 0.776);
    border-radius: 0.25rem;
    padding: 25px;
    margin-bottom: 1em;
    font-size: 30px;
    width: 100%;
    border-radius: 10px;
  }

  .title-quiz {
    background-color: rgb(150, 188, 228);
  }

  .img-div-quiz {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;

    img {
      width: 26em;
      height: 15em;
      margin-bottom: 1em;
      padding: 0.8em;
      width: 70%;
      border-radius: 10px;
      opacity: 0.8;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }

  .question-quiz {
    width: 70%;
    padding: 10px 10px 20px 10px;
    border: 1px solid #bfbfbf;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    color: black;
    //  font-size: 30px;
    //  font-weight: 400;

    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 2em;
    //  width: 90%;
    //  background-color: #cfe2ff;
    padding: 20px;
    //  box-shadow: transparent;
    //  border-radius: 15px;
  }

  .answers-quiz {
    background-color: rgba(54, 54, 162, 0.776);
    margin: auto;
    margin-bottom: 1em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 350;
    font-size: 25px;
    padding: 0.8em;
    width: 70%;
    border-radius: 10px;
    cursor: pointer;
  }
  .answers-quiz:hover {
    background-color: rgb(187, 152, 210);
  }
}

.controls {
  float: right;
}

#next_question {
  display: inline-block;
  background-color: rgba(54, 54, 162, 0.776);
  justify-content: center;
  align-items: baseline;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  padding: 10px 35px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
}

.hi {
  border: solid 1px rgba(54, 54, 162, 0.776);
  padding: 1rem;

  flex-grow: 2;
  max-width: 50rem;
  margin: 0.5rem;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 black;
}

.quiz-results-page {
  width: 100%;
  margin: auto;

  position: absolute;
}

.results-container-for-question {
  margin-top: 10rem;
  width: 50%;
  background-color: rgb(171, 211, 223);
  padding: 30px 30px 30px 30px;
  margin: 1.2rem;
  display: flex;
  justify-content: center;
}

.score-display {
  font-size: 30px;
}

#tryagain {
  display: inline-block;
  background-color: rgba(54, 54, 162, 0.776);
  justify-content: center;
  align-items: baseline;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  padding: 10px 35px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #ffffff;
  float: right;
}
